{% include 'header.twig' %}


<div class="container-fluid d-flex h-75 p-3 mx-auto flex-column">

    <main role="main" class="inner cover ">
        <div class="row">
            <div class="col">

                <div class="card " style="width: 18rem;">
                    <img src="/img/Klein.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Козлова Анастасия</h5>
                        <p class="card-text">Лидер команды.<br />
                            Программист,гений, плейбой и филантроп.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Почта:asdr@gmail.com</li>
                        <li class="list-group-item">Вк:<a href="https://vk.com/e.vincentius">@e.vincentius</a></li>

                    </ul>
                </div>
            </div>


            <div class="col">
                <div class="card " style="width: 18rem;">
                    <img src="/img/Nat.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Тупицына Наталия</h5>
                        <p class="card-text">Создатель-чат бота.<br />
                            Просто хороший человек и мотиватор команды.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Почта:Nat@gmail.com</li>
                        <li class="list-group-item">Вк:<a href="https://vk.com/emeloyw">@emeloyw</a></li>

                    </ul>

                </div>
            </div>

            <div class="col">
                <div class="card " style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Баланов Даниил</h5>
                        <p class="card-text">Программист.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Почта:bal@gmail.com</li>
                        <li class="list-group-item">Вк:<a href="https://vk.com/bdany25">@bdany25</a></li>
                    </ul>
                </div>


            </div>
        </div>


    </main>

</div>