<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
    </div>
</footer>
</div>


<script src="{{ asset('app.js') }}"></script>
</body>
</html>
