<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Ваша фотолаборатория</title>

    <link href="{{ asset('app.css') }}" rel="stylesheet">
</head>

<body class="text-center">

<div class="container-fluid d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">ФОТОЛАБОРАТОРИЯ v.1.0</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="{{ url_for('home') }}">Главная</a>
                <a class="nav-link" href="{{ url_for('map') }}">На карте</a>
                <a class="nav-link" href="{{ url_for('upload') }}">Загрузить</a>
            </nav>
        </div>
    </header>