{% include 'header.twig' %}

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Фотолаборатория</h1>
        <p class="lead my-4">Наш сайт использует метаданные объекта чтобы показать вам местоположение сделанной вами фотографии.</p>

        <style>
            .Meta {
                font-size: 33px;
            }
        </style>

        <p class="Meta">Что такое метаданные?</p>

        <style>
            .MetaInfo {
                font-size: 18px;
            }
        </style>

        <p class="MetaInfo">Это данные о данных. Ежедневно мы отправляем электронные сообщения или файлы.<br />
            У каждого такого послания есть не только содержание, но и дата и время отправки, указание отправителя и <br />
            получателя, тип вложения, его объём и прочие характеристики.
            Это и есть метаданные.

            <p style="font-size: 18px;">Если вы хотите узнать больше, то вы можете воспользоваться нашим чат-ботом.
            <p style="font-size: 18px;">Ниже Вы можете загрузить свои фотографии и посмотреть на карте где происходила съёмка.</p>


        <p class="lead">
            <a href="{{ url_for('upload') }}" class="btn btn-lg btn-secondary">Загрузить фото</a>
            <a href="{{ url_for('map') }}" class="btn btn-lg btn-secondary">Посмотреть на карте</a>
        </p>
    </main>

{% include 'footer.twig' %}
