{% include 'header.twig' %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Фото на карте</h1>
    <p class="lead"></p>

    <div id="map" style="height:500px"></div>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init() {
            var myMap = new ymaps.Map("map", {
                center: [{{ point }}],
            zoom: 16
        }, {
                searchControlProvider: 'yandex#search'
            });

            var myCollection = new ymaps.GeoObjectCollection();

            // Добавим метку красного цвета.
            var myPlacemark = new ymaps.Placemark([
                {{ point }}
        ], {
                balloonContent: '{{ name }}'
            }, {
                preset: 'islands#icon',
                    iconColor: '#ff0000'
            });
            myCollection.add(myPlacemark);

            myMap.geoObjects.add(myCollection);
        }
    </script>


</main>

{% include 'footer.twig' %}