{% include 'header.twig' %}

<main role="main" class="inner cover">

<h1>Welcome, {{ name }}!</h1>


<div class="button-container">
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '/';">Главная</button>
    <a href="/" class="btn btn-outline-primary">Главная</a>
</div>

</main>


{% include 'footer.twig' %}