{% include 'header.twig' %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Здесь скоро будет Google карта</h1>
    <p class="lead">и Вы можете посмотреть где происходила съёмка</p>
    <p class="lead">
        <a href="/upload" class="btn btn-lg btn-secondary">Загрузить фото</a>
        <a href="/map" class="btn btn-lg btn-secondary">Посмотреть на карте</a>
    </p>
</main>

{% include 'footer.twig' %}