{% include 'header.twig' %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Фото на карте</h1>
    <p class="lead"></p>

    <div id="map" style="height:500px"></div>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init() {
            var myMap = new ymaps.Map("map", {
                center: [{{ list[0]['point'] }}],
            zoom: 16
        }, {
                searchControlProvider: 'yandex#search'
            });

            var myCollection = new ymaps.GeoObjectCollection();

            // Добавим метку красного цвета.
            {% for row in list %}
            var myPlacemark = new ymaps.Placemark([
                {{ row.point }}
            ], {
                balloonContent: '<div><img src="img/{{ row.image }}" width="200px" height="auto"></div>'
            }, {
                preset: 'islands#icon',
                iconColor: '#ff0000'
            });
            myCollection.add(myPlacemark);
            {% endfor %}

            myCollection.add(myPlacemark);

            myMap.geoObjects.add(myCollection);

            // Сделаем у карты автомасштаб чтобы были видны все метки.
            myMap.setBounds(myCollection.getBounds(),{checkZoomRange:true, zoomMargin:9});
        }
    </script>


</main>

{% include 'footer.twig' %}